$primary_dark:hsl(158, 36%, 37%);
$primary_cream:hsl(30, 38%, 92%);

$neutral_verydark:hsl(212, 21%, 14%);
$neutral_dark:hsl(228, 12%, 48%);
$neutral_white:hsl(0, 0%, 100%);

//Screen
$mobile_width:375px;
$desktop_width:1440px;
$cornerRadius:16px;

//Fonts
$fontsize_body:14px;

$fraunces_font:500px;

$montserrat_font_small:500px;
$montserrat_font_large:700px;